assertive
BiocGenerics
Biostrings
BSgenome
CRISPRseek
data.table
GenomeInfoDb
GenomicFeatures
GenomicRanges
ggplot2
grid
karyoploteR
magrittr
methods
parallel
plyranges
Rbowtie
reticulate
rtracklayer
stringi
tidyr
utils
AnnotationHub
BiocStyle
BSgenome.Hsapiens.UCSC.hg38
BSgenome.Mmusculus.UCSC.mm10
BSgenome.Scerevisiae.UCSC.sacCer1
ensembldb
IRanges
knitr
rmarkdown
testthat
TxDb.Mmusculus.UCSC.mm10.knownGene