r-assertive
r-data.table
r-ggplot2
r-grid
r-magrittr
r-reticulate
r-stringi
r-tidyr
r-knitr
r-rmarkdown
r-testthat
bioconductor-annotationhub
bioconductor-biocgenerics
bioconductor-biostrings
bioconductor-bsgenome
bioconductor-crisprseek
bioconductor-genomeinfodb
bioconductor-genomicfeatures
bioconductor-genomicranges
bioconductor-karyoploter
bioconductor-plyranges
bioconductor-rbowtie
bioconductor-rtracklayer
bioconductor-biocstyle
bioconductor-bsgenome.hsapiens.ucsc.hg38
bioconductor-bsgenome.mmusculus.ucsc.mm10
bioconductor-bsgenome.scerevisiae.ucsc.saccer1
bioconductor-ensembldb
bioconductor-iranges
bioconductor-txdb.mmusculus.ucsc.mm10.knowngene
qpdf
zip